.classTeste{
    background-color: brown;
    width: 50px;
}

body{
    background-color: brown;
}

.input-edit{
    border:'1px solid black';
    margin-bottom:'-6px';
    margin-top:'-3px'
  }