body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.classTeste{
  background-color: brown;
  width: 50px;
}

body{
    /* background-image: url('./img/wpp4.png'); */
    height: auto;
}

.overlay{
  position: absolute;
  left: -40px;
  top: -45px;
  width: 100%;
  height: 100%;
  background-color: #6a6261; /*dim the background*/
  opacity: 0.7;
  
}

@media (max-width: 8900px) {
  .Auxiliar{
    display: none;
  };
}
@media (max-width: 571px) {
  .aux2{display: none;}
}


Button:hover{
  border: 5px solid black;
}

.login-cadastro{
  /* margin-top: auto; */
  margin-bottom: auto;
  align-content: center;
}

.buttons-2-tela{
  padding-top: 5%;
  border-radius: 5%;
  background-color:#00729A;
  color:white;
  text-align: center;
  display:inline-block;
  border: 2px solid white;
  height: 300px;
  border-radius: 10%;
}

.caixatexto{
  border-radius: 5px 5px 5px 5px !important;
  padding-left: 10px !important;
  padding-right: -30px !important;
  background-color:white !important;
}

/* .buttons-2-tela:hover{
  background-color:yellow;
  border:2px solid black;
  color:black;
  font-weight: bold;
  font-size:120%;
} */

.text{
  padding-top:100px;
  font-size: 350%;
}

.drop-down{
  color:white !important;
}

.drop-down:hover{
  color:white!important;
  background-color:transparent !important;
  border: none !important;
}

.nav-drop{
  background-color: transparent !important;
}

.rasp-line{
  right: 0%;
}
.info-rasp{
  font-weight: bold;
}

.container-body{
  margin-top:'5%';
  margin-bottom: '10%';
  height:'50%';
}

img.typeIcon{
  height: 20px;
}

img.plusIcon{
  height: 25px;
}

.pesquisa{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.botao-x-rasp:active{
  border:1px solid black;
}
.botao-x-rasp:hover{
  width: '100%';
}

:local(.inputEdit){
  border:'1px solid black';
  margin-bottom:'-6px';
  margin-top:'-3px'
}

.span-cliente:hover{
  box-shadow:inset 0px 0px 0px 1px #000000;
}

.icon-navbar:hover{
  background:transparent;
  border:0px solid black;
}
.edit-button:hover{  
  border:1px solid #86CE85;
}

.btn-functions{
  border:1px solid #7CB7D4;
  background-color: #7CB7D4;
}
.btn-functions:hover{
  border:2px solid #7CB7D4; 
}



/* The Modal (background) */
.modal {
  display: table !important; /* Hidden by default */
  background-color:transparent;
}

.btn-voltar{
  width: 100%;
  height: 100%;
  background-color:#86CE85 !important;
}

.mostrarCursor:hover{
  cursor: pointer;
}

.LabelEditar{
  padding-top:20px !important;
}
.campoPesquisa{
  padding-left: 15px !important;
  margin-right:15px !important;
}